<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="app_component_back">
<nav>
    <a routerLink="/xmlpoems">Manuscripts</a>
    <a routerLink="/addxmlpoem">Add Manuscript</a>
    <a routerLink="/searchxmlpoem">Manuscript search</a>
</nav>
<!--<div class="backDiv">-->
<div data-cy="test" class="content">
<router-outlet></router-outlet>
</div>
</div>
<!--</div>-->