<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="app_component_back">
<nav>
    <a routerLink="/xmlpoems">Manuscripts</a>
    <a routerLink="/addxmlpoem">Add Manuscript</a>
    <!--<a routerLink="/poem-search">Poem search</a>-->
</nav>
<!--<div class="backDiv">-->
<div data-cy="test" class="content">
    <h1>Välkommen!</h1>
<!--<app-add-poem></app-add-poem>-->
<router-outlet></router-outlet>
</div>
</div>
<!--</div>-->