.back-div{
    background-color:white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top; 
}

.content{
   text-align: center;
   display: block;

   /**display: grid;
   grid-template-columns: [a] 100 px [b] 200px;
   grid-template-areas:
   "a b"*/
}

.left {
    grid-area: a;
    text-align: left;
}

.right {
    grid-area: b;
    text-align: left;
}

nav {
    font-size: 20pt;
}

a {
    padding: 20pt;
}

.app_component_back {
/**    padding-top: 20px;*/

}