label, select, input  {
    text-align: right;
    float: left;
    margin-left: 5%;
}

.search-wrapper {
    display: grid;
    grid-template-columns: 45% 45%;
    border: solid thin #002F5F;
    grid-gap: 15px;
}

.searchButton {
    grid-column: 1/3;
    float: right;
    margin: 0 auto;
    text-align: center;
}
/**.searchButton { margin-left: 5%;}*/