<div *ngIf="apophthegm" class="ciWrapper">
    <h4>{{apophthegm.textId}}</h4>
    <div *ngIf="showReg">
    <app-reg-text [text]="apophthegm.reg"/>
</div>
    <div *ngIf="showOrig">
        <app-orig-text [text]="apophthegm.orig"/> 
    </div>
    
    <div *ngIf="apophthegm.relations.length > 0">
        <button (click)="toggleShowRelations()">Relations</button>
        <div *ngIf="showRelations" class="relations">
            <p>Is related to:</p>
            <div *ngFor="let relation of apophthegm.relations" class="hidden">
            <button (click)="selectRelation(relation)" >{{relation}}</button>
            </div>
        </div>
    </div>
</div>



