<!--<div *ngIf="ci">
<div class="contentItem">
<p>{{ci.textId}}</p>-->
<div *ngIf="apophthegm">
<p>{{apophthegm.id}}</p>
<div class="text">{{apophthegm.orig.text}}</div>
<div class="reg">{{apophthegm.reg.text}} <br/>
=============================================
<br/>
   {{apophthegm.reg.criticalApparatus}}
    </div>

<!--<div *ngIf="ci.relations.length > 0">
    <p>Is related to:</p>
</div>-->

<!--<div (click)="selectRelation(relation)" *ngFor="let relation of ci.relations" class="hidden">
    {{relation}}
</div>-->
</div>



