<div [ngSwitch]="break.type" class="nobreak">
    <div *ngSwitchCase="'ADD'" class="nobreak"></div>
        <div *ngSwitchCase="'HIGH_LIGHTED'" class="nobreak">
            <b>{{break.content[0].text}}</b>
        </div>
        <div *ngSwitchCase="'TEXT_WRAPPER'" class="nobreak">
             {{trimBreakText()}}
        </div>
        <div *ngSwitchCase="'WORD'" class="nobreak">
                {{trimBreakText()}}
            </div>
        <div *ngSwitchCase="'LINE_BREAK'" class="line_number" class="nobreak">
            <div *ngFor="let attr of break.attributes" class="nobreak">
                <div *ngIf="attr.name=='n'" class="nobreak">
                    <br/>{{attr.value}}
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'PAGE_BREAK'" class="nobreak">
            <div *ngFor="let attr of break.attributes" class="nobreak">
                <div *ngIf="attr.name=='n'" class="nobreak">
                    <h1>{{attr.value}}</h1>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'PERS_NAME'" class="nobreak">
            <div *ngFor="let content of break.content" class="nobreak">
                <app-reg-break [break]="content"></app-reg-break>
            </div>
        </div>
        <div *ngSwitchCase="'NAME'" class="nobreak">
            <div *ngFor="let content of break.content" class="nobreak">
                <app-reg-break [break]="content"></app-reg-break>
            </div>
        </div>
        <div *ngSwitchCase="'SUPPLEMENT'" class="nobreak">
            <div *ngFor="let content of break.content" class="nobreak">
                <div class="hidden">{{getrep()}}</div>
                [<app-reg-break [break]="content" class="nobreak"></app-reg-break>]
            </div>
        </div>
    </div> 